      <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <!-- Main Content -->
          <div id="content">
    
            <nav
            class="navbar-expand mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-light bg-white mb-4 static-top shadow">
              <h2 align="center">Covid -19 Home</h2>
              <span style="color: green; padding-left: 20px;">last updated on {{masterdata.lastUpdated}}</span>
    
            </nav>
            <div class="container-fluid">
    
    
              <!-- Content Row -->
              <div class="row">
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2"
                    style="background: rgba(255, 7, 58, .12549)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed
                            cases</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p th:text="${confirmed}">{{masterdata.worldConfirmed}}</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas faCheck fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-success shadow h-100 py-2"
                    style="background: rgba(108, 117, 125, .0627451)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-success text-uppercase mb-1">Deaths</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p>{{masterdata.worldDeaths}}</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-skull-crossbones fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-info text-uppercase mb-1">Active</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                <p>{{masterdata.worldActive}}</p>
                              </div>
                            </div>
    
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2"
                    style="background: rgba(40, 167, 69, .12549)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-warning text-uppercase mb-1">Recovered</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p>{{masterdata.worldRecovered}}</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-user fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2"
                    style="background: rgba(255, 7, 58, .12549)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed
                            cases (India)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p th:text="${confirmedIndia}">Test</p>
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800"
                            style="color: red !important">
                            <p th:text="${confirmedIndiaDelta}">Test</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-check fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-success shadow h-100 py-2"
                    style="background: rgba(108, 117, 125, .0627451)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-success text-uppercase mb-1">Deaths
                            (India)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p th:text="${deathsIndia}">Test</p>
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800"
                            style="color: black !important">
                            <p th:text="${deathsIndiaDelta}">Test</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-skull-crossbones fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-info text-uppercase mb-1">Active
                            (India)</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                <p th:text="${activeIndia}">Test</p>
                              </div>
                            </div>
    
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2"
                    style="background: rgba(40, 167, 69, .12549)">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div
                            class="text-xs font-weight-bold text-warning text-uppercase mb-1">Recovered
                            (India)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p th:text="${recoveredIndia}">Test</p>
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800"
                            style="color: green !important">
                            <p th:text="${recoveredIndiaDelta}">Test</p>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-user fa-2x text-gray-500"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                </div>
                </div>
                </div>
                </div>
                </div>
                

